<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Try transferring your music now!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap" rel="stylesheet">
    <style>
        body { text-align: center; font-family: "Doto"; margin: 50px; }
        h1 { font-size: 50px; }
        p { font-size: 20px; }
        h3 { font-size: 30px;}
    </style>
</head>
<body>
    <div class="main-container">
        <h1>Hi! Thanks for using my app!</h1>
        <p>If you got tired of recommendations on the platform you are using...</p>
        <h3>Try my telegram bot using this link: <a href="https://t.me/TransferMusic_bot">I'm here</a></h3>
    </div>
</body>
</html>